<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>





let albumHeader = `
<link rel="stylesheet" href="css/styles.css">
<ul class="font">

<li><a href="/"> Homepage</a></li>
<li><a href="/album/0"> Hybrid Theory</a></li>
<li><a href="/album/1"> Meterora</a></li>
</ul>`
let albumNav = `
<link rel="stylesheet" href="css/styles.css">
<ul class="font">
<li><a href="/album/0"> Hybrid Theory</a></li>
<li><a href="/album/1"> Meterora</a></li>
</ul>`